body {
  background-color: burlywood;
  font-family: Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
header {
  background: olive;
  padding: 20px;
}
section {
  background: white;
  color: olivedrab;
  padding: 20px;
  display: flex;
}
div {
  background: pink;
  margin: auto;
}
footer {
  background: olive;
  padding: 10px 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  margin-right: 20px;
}
.logo a{
  background-image: url("photos/logo.png");
  background-size: 300px;
  background-repeat: no-repeat;
  width: 300px;
  display: inline-block;
  height: 80px;
  text-indent: -999px;
}
a {
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  margin-top: 40px;
}
a:hover {
  text-decoration: underline;
}